force-app/main/default/flows/Docusign_Sender_Permission_set_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>this flow add the permission to newly created user which are required for the driver to send the driver packet</description>
    <environments>Default</environments>
    <interviewLabel>Docusign Sender Permission set Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docusign Sender Permission set Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>adding sender permission set for the driver</description>
        <name>adding_docusign_User_Permission</name>
        <label>adding docusign User Permission</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>UserPermissionSet</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>adding the sender permission set</description>
        <name>adding_sender_permissionSet</name>
        <label>adding sender permissionSet</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>adding_docusign_User_Permission</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>permissionSetID</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>adding_sender_permissionSet</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>permissionSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0PSNt0000003JCj</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserPermissionSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0PSNt0000003JCk</stringValue>
        </value>
    </variables>
</Flow>
