force-app/main/default/flows/If_a_user_s_email_changes_in_the_community_or_SFDC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>If_Drivers_Emails_is_Changed_then_Sent_Email_to_New_Email</name>
        <label>If Drivers Emails is Changed then Sent Email to New Email</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>01p3r000007NWDSNotFound</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Email_to_new_email_id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_new_email_id</name>
        <label>Send Email to new email id</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailChangedTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>driverservices@mburse.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Sign Back into mLog</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Email_is_changed_or_not</name>
        <label>Check Email is changed or not</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Condition</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driver/Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driver/Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Drivers_Emails_is_Changed_then_Sent_Email_to_New_Email</targetReference>
            </connector>
            <label>Email Condition</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>If a user&apos;s email changes in the community or SFDC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>If a user&apos;s email changes in the community or SFDC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Email_is_changed_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailChangedTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.FirstName}, 

Your email address was recently changed from {!$Record__Prior.Email} to {!$Record.Email}. The recent change will require you to sign back into your mLog account.

Follow these steps to sign back into your account:
1. You will receive an email/text momentarily. 
2. Open the link and select Step 2, and you will be signed back into your account. 

Please let us know if you have any additional questions.

Regards,
Driver Services</text>
    </textTemplates>
</Flow>
