force-app/main/default/flows/updatingContactPacketField.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>routingNumber</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>signedValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>signed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_State_of_Record</name>
        <label>check State of Record</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dfsle__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateContactStatusOnCreation</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompletedStatusForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recipient_status_record</targetReference>
            </connector>
            <label>updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_If_Admin_Sign_required</name>
        <label>Checking If Admin Sign required</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_updating_contact_when_only_driver_signs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dfsle__Contact__r.Account.Hello_Sign_Admin_Sign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updating_contact_when_only_driver_signs</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CompletedStatusForm</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.dfsle__Status__c}=&apos;Completed&apos;</expression>
    </formulas>
    <formulas>
        <description>date on which driver signed</description>
        <name>DriverSignedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!recipient_status_record.dfsle__Completed__c})</expression>
    </formulas>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NULLvalue</name>
        <dataType>String</dataType>
        <expression>NULL</expression>
    </formulas>
    <formulas>
        <name>StatusSent</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.dfsle__Status__c}=&apos;Sent&apos;</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>updatingContactPacketField {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updatingContactPacketField</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>recipient status record with the routing order 1</description>
        <name>recipient_status_record</name>
        <label>recipient status record</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_If_Admin_Sign_required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dfsle__EnvelopeStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>dfsle__RoutingOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>routingNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dfsle__RecipientStatus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updating_contact_when_only_driver_signs</name>
        <label>Copy 1 of updating contact when only driver signs</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Driver_Packet_Status__c</field>
            <value>
                <stringValue>Uploaded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver_Sign_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hello_Sign_Status__c</field>
            <value>
                <elementReference>signedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Packet__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.dfsle__Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateContactStatusOnCreation</name>
        <label>updateContactStatusOnCreation</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Packet__c</field>
            <value>
                <stringValue>Sent to Driver</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.dfsle__Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updating_contact_when_only_driver_signs</name>
        <label>updating contact when only driver signs</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Admin_Sign_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver_Packet_Status__c</field>
            <value>
                <stringValue>Uploaded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver_Sign_Date__c</field>
            <value>
                <elementReference>DriverSignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hello_Sign_Admin_Status__c</field>
            <value>
                <stringValue>signed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hello_Sign_Status__c</field>
            <value>
                <elementReference>signedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Packet__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.dfsle__Contact__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_State_of_Record</targetReference>
        </connector>
        <filterFormula>OR({!$Record.dfsle__Status__c}=&apos;Sent&apos;,{!$Record.dfsle__Status__c}=&apos;Completed&apos;,ISNEW())</filterFormula>
        <object>dfsle__EnvelopeStatus__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CompletedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </variables>
    <variables>
        <name>SentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Sent</stringValue>
        </value>
    </variables>
</Flow>
