force-app/main/default/flows/updating_cell_phone_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>outcome</name>
        <label>outcome</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifanyoneisselected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Cell_Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company Provide</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Cell_Phone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee Provide</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assign_value</targetReference>
            </connector>
            <label>if one is selected</label>
        </rules>
    </decisions>
    <description>updating cellphone field on the contact based on the field value assigned on the account</description>
    <environments>Default</environments>
    <interviewLabel>updating cell phone field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updating cell phone field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>assigning the value of the cell phone field on the contact  which is stored at account</description>
        <name>Copy_1_of_assign_value</name>
        <label>Copy 1 of assign value</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Cell_Phone__c</field>
            <value>
                <elementReference>$Record.Account.Cell_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>outcome</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
